<!DOCTYPE html>
<div id="storageDemo" class="col-xs-12 col-sm-6">
	<h1>Web storage</h1>
	<div class="form-group">
		<label for="bgcolor">Choose background color:</label>
		<input class="form-control" type="color" id="bgcolor" value="#FF0000">
	</div>
	<button type="button" class="btn btn-primary btn-block" id="deleteBtn">Clear Local Storage</button>
	
	<div>
		<p>Pick a color for the background of this form and it will be saved in local storage.</p>
		<p>Demo page built with code from <a href="https://developer.mozilla.org/en-US/">Mozilla's MDN pages.</a></p>
	</div>
</div>
