main {
    padding-top: 60px;
    padding-bottom: 40px;
}

.temps button {
    margin: 10px 0;
}

// Open dropdowns on hover instead of click on pages larger than 800px.
@media (min-width: 800px) {
    .dropdown:hover > .dropdown-menu {
        display: block;
    }
}

@media (max-width: 800px) {
    h1 {
        text-align: center;
    }
}
